* {
    font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
.logo {
    padding-left: 10px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
}
.left-navbar {
    padding-left: 50px;
}

.right-navbar {
    padding-right: 50px;
}
.navbar-toggler {
    border: none;
    padding: 0;
}
.nav-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 14px 16px;
    margin-bottom: 16px;
}
.nav-item a {
    text-decoration: none;
    color: #7c7c7a;
}
.navbar-nav > .active, .navbar-nav li:hover {
    text-decoration: none;
    background-color: #bce3f4;
    width: 218px;
    height: 52px;
    border-radius: 10px;
}

.nav-item .icon {
    margin-right: 16px;
}
.navbar-brand {
    font-size: 18px;
    font-weight: 500;
    margin-right: 27px;
}
.right-navbar .active ,.right-navbar a:hover{
    border-bottom: 0.15em solid black;
}

nav {
    box-shadow: 0 4px 5px 0 #0000002e;
}

.logosidebar {
    margin-top: 40px;
    padding-left: 40px;
}

.offcanvas {
    width: 300px !important;
    border-top-right-radius: 10px;
    border-end-end-radius: 10px;
}
.btn-blue {
    background-color: #00a2e9;
    border-radius: 10px;
    color: #ffffff;
    padding: 6px 40px 6px 40px;
    box-shadow: 0 4px 5px 0 #0000002e;
}
.btn-blue:hover {
    background-color: #04b4ff;
    color: rgb(255, 255, 255);
}

.header {
    width: 100%;
    height: 450px;
}
.txt-title {
    border-left: 0.4em solid #e62129;
    height: 30px;
    padding: 3px 3px 3px 10px;
    font-weight: 600;
    font-size: 20px;
}
.txt-title-right {
    max-width: 1100px;
    height: 30px;
    padding: 3px 3px 3px 10px;
    font-weight: 600;
    font-size: 20px;

}
.txt-title-italic {
    width: 100px;
    height: 30px;
    padding: 3px 0x 3px 10px;
    font-weight: 600;
    font-size: 20px;
    font-style: italic;
}
.card-app {
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.27);
    border-radius: 10px;

}

.rectangle {
    width: 116px;
    height: 128px;
    border: 1px solid #c6cacc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: white;
}
.card-group {
    gap: 10px;
    margin: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.txt-app {
    color: black;
    font-weight: 500;
    font-size: 15px;
    margin-top: 13px;
    margin-bottom: 0;
}
.all-apps{
    display: flex;
    justify-content: end;
    font-weight: 500;
    margin: 20px;
    font-size: 15px;
    color: #0a436b;
}
.txt-more{
    font-weight: 500;
    font-size: 15px;
    color: #0a436b;
}
.pesanbod{
    margin-top: 10px;
    background: #00A2E9;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.27);
    border-radius: 10px;
    padding: 50px 150px;
}

.margin-title{
    width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.selengkapnya{
    font-weight: 500;
    font-size: 15px;
    color: #041743;
}
.margin{
    margin: 20px 7% ;
}
.card-pengumuman{
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.27);
    border-radius:10px;
    margin-top:16px;
}

.line-bold{
    height: 1px;
    background-color: #000000;
}
.content-title{
    font-weight: 500;
    font-size: 20px;
}
.content-date{
    color: #8A7E7E;
    font-weight: 500;
    margin-top: 4px;
}
.carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
  }
  .carousel-indicators{
    margin: 0;
    align-items: center;
    position: static;
  }

.btn-prev, .btn-next{
    border: 0;
    background-color: transparent;
}
.btn-prev:hover, .btn-next:hover{
    color: #737576;
}
.btn-slide{
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin: auto;
}
.line-thin{
    height: 1px;
    background-color: #B6A5A5;
    margin-top: 16px;
}
.btn-outline-dark:hover{
    background-color: #00A2E9;
    border: none;
}
.unduh-txt{
    font-weight: 400;
    font-size: 16px;
    margin: 0 6px 0 10px;
}
.footer{
    width: 100%;
    height: 400px;
    background: #00A2E9;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.desc-footer{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 0;
}
.header-footer{
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}
.container-search{
    width: 50% ;
    height: 130px;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
}

   .search{
   position: relative;
   box-shadow: 0 0 40px rgba(51, 51, 51, .1);
   }

   .search input{
    border: 1px solid #00A2E9;
    height: 50px;
    text-indent: 25px;
    border-radius: 10px;
    padding-left: 25px;
   }

   .search input:focus{
    box-shadow: none;
    border: 2px solid #00A2E9;
   }

   .search .fa-search{

    position: absolute;
    top: 15px;
    left: 16px;

   }

   .search button{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 50px;
    width: 110px;
    background: #00A2E9;
    border-top-right-radius: 10px;
    border-end-end-radius: 10px;
    border-top-left-radius: 0;
    border-end-start-radius: 0;
    border: 1px solid #00A2E9;

   }
   .search button:hover{
    background: #04b4ff;
    border: 1px solid #00A2E9;
   }
   .two-colums{
    width: 90% ;
    margin: auto;
   }

.card-publikasi{
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.27);
    border-radius: 24px;
    /* height: 340px; */
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.card-body-publikasi{
    display: flex;
    margin: auto;
    padding: 30px;
}
.urutan{
    font-weight: 500;
    font-size: 64px;
}
.header-detail{
    height:240px;
    background-color: #00A2E9;
    /* position: relative */
}


.container-pub{
    margin-top: -100px;
}

.container-detail-pub{
    width: 75% ;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 50px;
    top: 180px;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    margin-top: 15px;
}
.margin-pub{
    width: 100%;
    height: 100%;
    padding: 0 30%;
}

.container-pub-left{
    border: 0.5px solid #979797;
    border-radius: 13px;
    /* height: fit-content; */
}
.img-detail-pub{
    width: 100%;;
}
.txt-desc-pub{
    font-weight: 600;
    font-size: 18px;
    color: #8A7E7E;
}
.margin-img-desc-left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-download {
    display: flex;
    justify-content: center;
    align-items: center;
}

.download {
    width: 100%;
}

.back-btn {
    position: relative;

}

.back {
    margin-left: 12%;
    font-weight: 400;
    font-size: 20px;
/* identical to box height */
    color: #FFFFFF;
}

.rekomendasi {
    width: 90%;
    margin: auto;
}
.card-rekomendasi{
    padding: 20px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.card-title-rekom{
    font-weight: 600;
    font-size: 15px;

}
.publish{
    font-weight: 400;
    font-size: 12px;
}
.rekomendasi-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.icon-desc{
    font-size: 20px;
}
.content-header{
    font-weight: 800;
    font-size: 34px;
}
.pagination > li > a
{
    background-color: white;
    color: black;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: black !Important;
    border: solid 1px black !Important;
}

.pagination > .active > a:hover
{
    background-color: black !Important;
    border: solid 1px black;
}
.imgheaderbod{
    font-weight: 700;
    font-size: 55px;
    color: #FFFFFF;
    margin-top: -300px;
}
.list-pesan{
    background: #F4F5F9;
    padding: 100px 30px 50px 50px;
}
.container-pesan{
    border: 0.3px solid #BAB4B4;
    border-radius: 10px;
    padding: 20px 0 20px 25px;
    box-sizing: border-box;
    background-color: white;
}
.text-date-bod{
    font-size: 14px;
    font-weight: 500;
    color: #8A7E7E;
}
.card-title-bod{
    font-weight: 600;
    font-size: 16px;
}
.card-text-bod{
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    width: 100%;
}
.isi-pesan{
    background: #F4F5F9;
    padding: 100px 35px 10px 0px;
    box-sizing: border-box;

}
 .container-isi-pesan{
    background: #FFFFFF;
    border: 0.3px solid #BAB4B4;
    border-radius: 10px;
    padding: 30px;

}
/* #isi-pesan{
    display: none;
} */
#no-content{
    display: flex;
    justify-content: center;
}
.img-bod{
   justify-content: center;
    display: flex;
}

.form-control{
    height: 60px;
    border-radius: 20px;
    border: 2px solid #CECECE;
    padding-left: 50px;
}
.form-container{
    position: relative;
}
.icon-login{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    color: #a6a4a4;
}
.login-popup{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    border-radius: 24px;
    width:100%;
}
.modal-dialog{
    max-width: 650px;
}
.header_agenda{
    padding: 20px;
}
.modal-header{
    align-items: flex-start;
}
.container-agenda{
    background: #BCE5F7;
    height: 75px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.agenda-name{
    font-weight: 600;
    font-size: 18px;
}
.list-agenda{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.icon-detail-agenda{
    border-right: 2px solid #000000;
    width: 35px;
    justify-content: start !important;
}
.container-detail-agenda{
    display: flex;
    align-items: center;
    gap: 10px;
}
.img-pub{
    border-radius: 24px;
}
.comment{
    margin-top: 100px;
    margin-bottom: 70px;
}
.input-comment{
    border : 0px solid #000000;
    border-bottom-width : 1px;
    background-color : transparent;
    width: 100%;
}
.input-comment:focus{
    outline: none;
}
.container-comment{
    margin: 40px 0 0 10px
}
.menu-ide{
    margin: 30px 0;
    gap: 80px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #D7D7D7;

}
.menu-ide .active{
    border-bottom: 3px solid #00A2E9;
}
.menu{
    width: 80px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
}
.app-list{
    display: flex;
    gap: 20px;
    padding: 0 20px;
    flex-wrap: wrap;
    margin-bottom: 80px;

}
.app-detail{
    margin: 30px 0px 30px 50px;
}
.card-profile{
    width: 100%;
    background-color: white;
    border: 0.3px solid #BAB4B4;
    border-radius: 24px;
    padding: 20x;
}
.sidebar-mobile{
    display: none;
}

@media (min-width: 1200px) {

.header-bod {
    /* max-width: 1000px; */
    padding: 3px 0x 0px 0px;
    font-weight: 600;
    font-size: 20px;
    color: white;
}
.desc-bod{
    font-weight: 500;
    font-size: 16px;
    margin-top: 12px;
    color: #FFFFFF;
}
.card-title{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5px;
}
.card-text{
    font-weight: 400;
    font-size: 16px;
    color: #555151;
}

.margin-right{
    padding-left:70px;
}

}

@media (min-width: 768px) and (max-width: 1200px){
    .offcanvas {
        width: 300px !important;
        border-top-right-radius: 10px;
        border-end-end-radius: 10px;
    }


    .header-bod {
        /* max-width: 1000px; */
        padding: 3px 0x 0px 0px;
        font-weight: 600;
        font-size: 20px;
        color: white;
    }
    .desc-bod{
        font-weight: 500;
        font-size: 16px;
        margin-top: 12px;
        color: #FFFFFF;
    }
    .card-text{
        font-weight: 400;
        font-size: 16px;
        color: #555151;
    }
    .container-search{
        width: 80%;
    }
    .txt-desc-pub{
        font-weight: 600;
        font-size: 13px;
        color: #8A7E7E;
    }
    .icon-desc{
        font-size: 15px;
    }
    .content-header{
        font-weight: 800;
        font-size: 34px;
        margin-top: 30px;
    }

}

@media (min-width: 576px) and (max-width: 767.98px){
    .navbar {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .left-navbar {
        padding-left: 50px;
    }

    .right-navbar a{
        padding-right: 50px;
        margin-left: 110px;
        display: none;
    }
    .right-navbar button{
        margin-left: 0px;
    }

    .navbar-toggler {
        border: none;
        padding: 0;
    }
    .margin-app{
        margin: 0;
    }

    .card-body-artikel{
    margin: 20px 0 0 20px;
    }

    .header-bod {
        /* max-width: 1000px; */
        padding: 3px 0x 0px 0px;
        font-weight: 600;
        font-size: 20px;
        color: white;
    }
    .desc-bod{
        font-weight: 500;
        font-size: 16px;
        margin-top: 12px;
        color: #FFFFFF;
    }
    .card-text{
        font-weight: 400;
        font-size: 16px;
        color: #555151;
    }
    .title-kotak-ide{
        margin-top: 100px;
    }
    .container-search{
        width: 80%;
    }
    .content-header{
        font-weight: 800;
        font-size: 34px;
        margin-top: 20px;
    }
    .list-pesan{
        background: #F4F5F9;
        padding: 100px 30px 50px 30px;
    }
    .isi-pesan{
        background: #F4F5F9;
        padding: 30px 50px;
        box-sizing: border-box;

    }
    .content-header{
        font-weight: 800;
        font-size: 34px;
        margin-top: 30px;
    }
    .app-detail{
        margin: 30px 0px;
    }

}

@media (max-width: 575.98px){

    .navbar {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .left-navbar {
        padding-left: 20px;
    }

    .right-navbar a{
        padding-right: 50px;
        margin-left: 110px;
        display: none;
    }
    .right-navbar button{
        margin-left: 0px;
    }
    .card-body-artikel{
        margin: 20px 0 0 20px;
        }
    .login{
        margin-left: 60px;
        margin-top: 10px;
    }
    .pesanbod{
        padding: 50px 30px;
    }
    .header-bod {
        /* max-width: 1000px; */
        padding: 3px 0x 0px 0px;
        font-weight: 600;
        font-size: 20px;
        color: white;
    }
    .desc-bod{
        font-weight: 500;
        font-size: 16px;
        margin-top: 12px;
        color: #FFFFFF;
    }
    .card-title{
        font-weight: 500;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .card-text{
        font-weight: 400;
        font-size: 16px;
        color: #555151;
    }
    .title-kotak-ide{
        margin-top: 100px;
    }
    .container-search{
        width: 80%;
    }
    .content-header{
        font-weight: 800;
        font-size: 34px;
        margin-top: 20px;
    }
    .container-detail-pub{
        padding: 5px;
    }
    .footer{
        height: auto;
    }
    .container-pub{
        margin-top: -50px;
    }
    .list-pesan{
        background: #F4F5F9;
        padding: 100px 30px 50px 30px;
    }
    .isi-pesan{
        background: #F4F5F9;
        padding: 30px 50px;
        box-sizing: border-box;

    }
    .content-header{
        font-weight: 800;
        font-size: 34px;
        margin-top: 30px;
    }
    .app-detail{
        margin: 30px 0px;
    }
    .mob-mb{
        margin-top: 30px;
    }
    .sidebar-mobile{
        display: block;
        border-bottom: 0.3px solid rgb(186, 183, 183);
        border-top: 0.3px solid rgb(186, 183, 183);
        margin: 10px 0;
    }
    .btn-blue {
        padding: 6px 20px;
        box-shadow: 0 4px 5px 0 #0000002e;
    }
    .btn-slide{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: auto;
    }
}


